name: CI/CD Workflow
on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4  

    - name: Set up Python
      uses: actions/setup-python@v5 
      with:
        python-version: '3.12'

    - name: Install adg
      run: pip install autodocgenerator

    - name: Run doc gen
      run: python autodocconfig.py
      env:
        API_KEY: ${{ secrets.GROCK_API_KEY }} 
