name: CI/CD Workflow
.
on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4  

    - name: Set up Python
      uses: actions/setup-python@v5 
      with:
        python-version: '3.12'

    - name: Install poetry
      run: pip install poetry

    - name: Install dependencies
      run: poetry install 

    - name: Run doc gen
      run: poetry publish --build 
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }} # Важно для безопасности
