# Это содержимое файла в ТВОЕМ репозитории (reusable-docs.yml)
name: Create Documentation
on:
  workflow_call:
    secrets:
      GROCK_API_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  

      - name: Set up Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.12'

      - name: Install adg
        run: pip install autodocgenerator

      - name: Run doc gen
        run: python -m autodocgenerator.auto_runner.run_file
        env:
          API_KEY: ${{ secrets.GROCK_API_KEY }} 
          PYTHONUNBUFFERED: "1"
          FORCE_COLOR: "1"        # Принудительно включаем цвета Rich
          TERM: "xterm-256color"  # Эмулируем продвинутый терминал

      - name: Copy output to README
        run: cat .auto_doc_cache/output_doc.md > README.md

      - name: Copy logs to a new file
        continue-on-error: true
        run: |
          cat .auto_doc_cache/report.txt > agd_report.txt || echo "Logs not found"

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git add agd_report.txt 2>/dev/null || echo "Log file hasnt been founded"
          git diff --quiet && git diff --staged --quiet || (git commit -m "auto: update README.md" && git push)
